<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044836348423-9mqg8p2bc5176c1japea5pssitjmmoj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044836348423-9mqg8p2bc5176c1japea5pssitjmmoj8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1044836348423-glneitfs5qe4kbqoeorkthom36r6lij2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKUnJYjiLZAqvPJC7Epy_fgj3G6k26VWU</string>
	<key>GCM_SENDER_ID</key>
	<string>1044836348423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dapprosmessenger</string>
	<key>PROJECT_ID</key>
	<string>dappros-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>dappros-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044836348423:ios:2c8d9d348172461e38f0a2</string>
	<key>DATABASE_URL</key>
	<string>https://dappros-messenger.firebaseio.com</string>
</dict>
</plist>